header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(1px);
  z-index: 100;
  background-color: #ffffff05;
  padding-inline: 1rem;
}

nav {
  display: flex;
  gap: 1rem;
}